<h4><%= @customer.company_name %>の会員詳細</h4>
<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <td>会社名</td>
    <td><%= @customer.company_name %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @customer.post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>担当者氏名</td>
    <td><%= @customer.last_name + ' ' + @customer.first_name %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @customer.telephone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <td>会員ステータス</td>
    <td>
      <% if @customer.is_deleted == false %>
        有効
      <% else %>
        退会
      <% end %>
    </td>
  </tr>
</table>

<%= link_to '編集する', edit_admin_customer_path(@customer) %>

<h4>契約状況</h4>

<table>
  <thead>
    <th>ID</th>
    <th>電話番号</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.id %></td>
        <td>
          <%= link_to admin_phone_number_path(contract.phone_number) do %>
            <%= contract.phone_number.telephone_number %>
          <% end %>
        </td>
        <td>
          <% if contract.is_under_contract == true %>
            契約中
          <% else %>
            解約済
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
