<nav class="navbar navbar-expand-lg navbar-primary mb-3">

          <% if customer_signed_in? %>
            <%= current_customer.company_name %>様
          <% end %>

          <div class="collapse navbar-collapse top_logo">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item align-top">
                  <%= link_to 'マイページ', my_page_path, class: 'nav-link text-secondary' %>
                </li>
                <li class="nav-item">
                  <%= link_to '番号一覧', phone_numbers_path, class: 'nav-link text-secondary' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'カート', cart_items_path, class: 'nav-link text-secondary' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-secondary' %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "番号一覧", admin_phone_numbers_path, class: 'nav-link text-success' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-success' %>
                </li>
                <li class="nav-item">
                  <%= link_to "契約一覧", admin_contracts_path, class: 'nav-link text-success' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-success' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-warning' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-warning' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>